@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* DARK THEME COLORS*/
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue-1: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue-2: hsl(237, 14%, 26%);
  /* LIGHT THEME COLORS */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
}
/* DARK THEME */
.dark-theme {
  background: url(images/bg-desktop-dark.jpg) no-repeat;
  background-size: 100%, 33%;
  background-color: var(--Very-Dark-Blue);
  transition: 1s;
}
.dark-theme .moon {
  display: none;
}

header h1 {
  color: white;
}
.dark-theme form[name="input-form"] div {
  border-color: var(--Very-Dark-Grayish-Blue-1);
}
.dark-theme form[name="input-form"] input {
  background-color: var(--Very-Dark-Desaturated-Blue);
  color: var(--Light-Grayish-Blue);
}
.dark-theme li {
  background-color: var(--Very-Dark-Desaturated-Blue);
  border-color: var(--Very-Dark-Grayish-Blue-1);
}
.dark-theme .list-footer {
  background-color: var(--Very-Dark-Desaturated-Blue);
}
.dark-theme ul {
  color: var(--Light-Grayish-Blue);
}
.dark-theme .custom-checkbox {
  border-color: var(--Very-Dark-Grayish-Blue-1);
}
.dark-theme .list-footer {
  color: var(--Very-Dark-Grayish-Blue-1);
}
.dark-theme input[type="radio"]:checked ~ p:hover {
  color: white;
}
.dark-theme .filters label:hover {
  color: white;
}
.dark-theme .list-footer button:hover {
  color: white;
}
.dark-theme .drag-drop-p {
  color: var(--Very-Dark-Grayish-Blue-1);
}
/* LIGHT THEME --------------------------------------------------------*/
.light-theme {
  background: url(images/bg-desktop-light.jpg) no-repeat;
  background-size: 100%, 33%;
  transition: 1s;
  background-color: var(--Very-Light-Grayish-Blue);
}
.light-theme .sun {
  display: none;
}
.light-theme form[name="input-form"] div {
  border-color: var(--Very-Light-Grayish-Blue);
}
.light-theme form[name="input-form"] input {
  background-color: var(--Very-Light-Gray);
  color: var(--Very-Dark-Grayish-Blue);
}
.light-theme li {
  background-color: var(--Very-Light-Gray);
  border-color: var(--Very-Light-Grayish-Blue);
}
.light-theme .list-footer {
  background-color: var(--Very-Light-Gray);
}
.light-theme ul {
  color: var(--Very-Dark-Grayish-Blue);
}
.light-theme .custom-checkbox {
  border-color: var(--Very-Light-Grayish-Blue);
}
.light-theme .list-footer {
  color: var(--Dark-Grayish-Blue);
}
.light-theme input[type="radio"]:checked ~ p:hover {
  color: var(--Very-Dark-Grayish-Blue);
}
.light-theme .filters label:hover {
  color: var(--Very-Dark-Grayish-Blue);
}
.light-theme .list-footer button {
  color: var(--Dark-Grayish-Blue);
}
.light-theme .list-footer button:hover {
  color: var(--Very-Dark-Grayish-Blue);
}
.light-theme .drag-drop-p {
  color: var(--Dark-Grayish-Blue);
}
/* UNIVERSAL */
body {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 78px;
  font-size: 18px;
  background-size: cover;
}
main {
  width: 540px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}
header h1 {
  letter-spacing: 18px;
}
.theme-but:hover {
  cursor: pointer;
}
form[name="input-form"] {
  position: relative;
  margin-bottom: 24px;
}
form[name="input-form"] input {
  height: 64px;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  padding: 0 0 0 72px;
}
form[name="input-form"] input:focus {
  outline: none;
}
form[name="input-form"] div {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  position: absolute;
  border: solid 2px;
  z-index: 1;
  top: 18px;
  left: 22px;
}
ul {
  list-style-type: none;
}
li {
  height: 62px;
  display: flex;
  border-bottom: solid 1px;
  user-select: none;
  padding: 0 22px 0 22px;
  align-items: center;
}
li label {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
li label p {
  height: 18px;
}
input[type="checkbox"] {
  display: none;
}

li .custom-checkbox {
  width: 26px;
  height: 26px;
  margin-right: 24px;
  border-radius: 50%;
  border: 2px solid;
  position: relative;
}

.custom-checkbox::after {
  content: url(images/icon-check.svg);
  display: none;
  position: absolute;
  left: 7px;
  top: 4px;
}
input[type="checkbox"]:checked ~ .custom-checkbox {
  background: linear-gradient(0.4turn, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
}
input[type="checkbox"]:checked ~ .custom-checkbox::after {
  display: block;
}
.custom-checkbox:hover {
  border-color: hsl(192, 100%, 67%);
}
input[type="checkbox"]:checked ~ p {
  text-decoration: line-through;
  color: var(--Very-Dark-Grayish-Blue-1);
}
.delete-one-todo {
  display: none;
}
.delete-one-todo:hover {
  display: block;
  cursor: pointer;
}
label:hover ~ .delete-one-todo {
  display: block;
}
[data-id="0"] {
  border-radius: 5px 5px 0 0;
}
.list-footer {
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-radius: 0 0 5px 5px;
  padding: 0 22px;
  font-size: 15px;
}
.list-footer .filters {
  display: flex;
}
.list-footer .filters label {
  display: flex;
  margin-right: 20px;
  cursor: pointer;
}
.list-footer .filters p {
  font-weight: 700;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked ~ p {
  color: hsl(220, 98%, 61%);
}
.list-footer button {
  background: none;
  color: var(--Very-Dark-Grayish-Blue-1);
  border: none;
  cursor: pointer;
  font-weight: 700;
}
.li-hide {
  display: none;
}
.li-show {
  display: flex;
}
.drag-drop-p {
  text-align: center;
  margin-top: 3rem;
  display: none;
}
@media (max-width: 500px) {
  .dark-theme {
    background: url(images/bg-mobile-dark.jpg) no-repeat;
    background-size: 100%, 33%;
    background-color: var(--Very-Dark-Blue);
  }
  .light-theme {
    background: url(images/bg-mobile-light.jpg) no-repeat;
    background-size: 100%, 33%;
    background-color: var(--Very-Light-Grayish-Blue);
  }
  main {
    width: 328px;
    position: relative;
  }
  .filters {
    position: absolute;
    bottom: 60px;
    left: 0;
    height: 50px;
    width: 328px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  .dark-theme .filters {
    background-color: var(--Very-Dark-Desaturated-Blue);
  }
  .light-theme .filters {
    background-color: var(--Very-Light-Gray);
  }
  .drag-drop-p {
    margin-top: 15vh;
  }
  .delete-one-todo {
    display: block;
  }
  ul {
    font-size: 15px;
  }
  .custom-checkbox::after {
    top: 7px;
  }
  form[name="input-form"] div {
    left: 20px;
  }
  form[name="input-form"] input {
    padding: 0 0 0 62px;
    font-size: 15px;
  }
  li {
    padding: 0 20px 0 20px;
  }
  li .custom-checkbox {
    margin-right: 15px;
  }
}
